
@{
    ViewBag.Title = "No_Historia";
}


<div class="container" style="margin-top:35px">
    <section class="d-flex justify-content-center">
        <div class="card col-sm-6 p-3">
            <div class="mb-3">
                <h4>Solicitar Cirugia</h4>
            </div>
            <div class="mb-2">
                <form action="/Quirofanos/RequestSurgerie" method="post">
                    <div class="mb-2">
                        <i class='bx bx-book-open blackiconcolor'></i>
                        <label style="color:red">*</label>
                        <label for="Historial">No.Historia:</label>
                        <input type="text" value="@ViewBag.historyNumber" class="form-control" name="historyNumber" readonly id="noHistorial" placeholder="Historial">
                    </div>
                    <div class="mb-2">
                        <i class='bx bx-user-circle blackiconcolor'></i>
                        <label style="color:red">*</label>
                        <label for="Primer_Nombre">Primer Nombre:</label>
                        <input type="text" value="@ViewBag.FirstName" class="form-control" name="firstName" readonly id="pNombre" placeholder="Primer nombre">
                    </div>
                    <div class="mb-2">
                        <i class='bx bx-user-circle blackiconcolor'></i>
                        <label for="Segundo_Nombre">Segundo Nombre:</label>
                        <input type="text" value="@ViewBag.SecondName" class="form-control" name="secondName" readonly id="sNombre" placeholder="Segundo nombre">
                    </div>
                    <div class="mb-2">
                        <i class='bx bx-user-circle blackiconcolor'></i>
                        <label style="color:red">*</label>
                        <label for="Primer_Apellido">Primer Apellido:</label>
                        <input type="text" value="@ViewBag.FirstSurname" class="form-control" name="firstSurname" readonly id="pApellido" placeholder="Primer apellido">
                    </div>
                    <div class="mb-2">
                        <i class='bx bx-user-circle blackiconcolor'></i>
                        <label for="Segundo_Apellido">Segundo Apellido:</label>
                        <input type="text" value="@ViewBag.secondSurname" class="form-control" name="secondSurname" readonly id="sApellido" placeholder="Segundo apellido">
                    </div>
                    <div class="mb-2">
                        <i class='bx bxs-face blackiconcolor'></i>
                        <label for="Edad">Sexo:</label>
                        <input type="text" value="@ViewBag.Gender" class="form-control" name="gender" readonly id="Edad" placeholder="Edad">
                    </div>
                    <div class="mb-2">
                        <i class='bx bxs-face blackiconcolor'></i>
                        <label for="Edad">Edad:</label>
                        <input type="text" value="@ViewBag.Age" class="form-control" name="age" readonly id="Edad" placeholder="Edad">
                    </div>
                    <div class="mb-2">
                        <i class='bx bxs-face blackiconcolor'></i>
                        <label for="Edad">Diagnostico:</label>
                        <input type="text" class="form-control" name="diagnosis" id="Edad" placeholder="Diagnostico">
                    </div>

                    <div class="row">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Continuar</button>
                    </div>
                    <div class="mb-2 invisible">
                        <i class='bx bxs-face blackiconcolor'></i>
                        <input type="text" value="@ViewBag.band" class="form-control invisible" name="band" readonly id="Edad" placeholder="Edad">
                    </div>
                    <div class="mb-2 invisible">
                        <i class='bx bxs-face blackiconcolor'></i>
                        <input type="text" value="@ViewBag.idPatient" class="form-control invisible" name="idPatient" readonly id="Edad" placeholder="Edad">
                    </div>
                    
                </form>
            </div>
        </div>
    </section>
</div>


